# ignore all
*

# unignore files with extensions
!*.*
# unignore directories
!*/

# editor temp files
*.swp
*.swo
*~

# compilation targets
bin/*
lib/*
obj/*
dep/*
*.out
*.a
*.dylib
*.so
*.o
*.d
*.s

# python/js stuff
*.py
__pycache__/*
pyvenv.cfg
pip-selfcheck.json
node_modules/*
plotting/*
ldsm/*

*.log
*.bin
*.hex
*.mat
*.pdf
*.mtx
*.pos
TODO
*.bak

!data/*.bin

.*
include/thrust
trials/
other/
notes/
reference/
share/

# ingore old code
ib/*
src/*

*.png
*.html
*.pdf

*.diff
*.patch

bak/*
conv/*
