# ignore all
*

# unignore files with extensions
!*.*
# unignore directories
!*/

*.swp
*.swo
*~

bin/*
lib/*
obj/*
dep/*
*.out
*.a
*.dylib
*.so
*.o
*.d

__pycache__/*

.autoenv.zsh
.autoenv_leave.zsh
